<div class='panel panel-primary'>
  <div class = 'panel-heading'>
      {{pageTitle}}
  </div>
  <div class = 'panel-body'>
    <div class = 'table-responsive'>
      <table class='table table-striped'
                 *ngIf='products && products.length'>
        <thead>
          <tr>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let product of products'>
            <td>{{product.productName}}</td>
            <td>{{product.productCode}}</td>
            <td>{{product.productAvailable}}</td>
            <td>{{product.productPrice | currency:'USD':true:'1.2-2'}}</td>
          </tr>
         </tbody>
       </table>
    </div>
  </div>
</div>